#include "Base.xcconfig"

// ---- Environment ----
APP_ENV = staging
API_BASE_URL = https:/$()/staging-api.deep.app
BUNDLE_ID_SUFFIX = .staging
APP_DISPLAY_NAME = Deep Staging

// ---- Release build profile ----
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO
MTL_ENABLE_DEBUG_INFO = NO
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_ACTIVE_COMPILATION_CONDITIONS = STAGING $(inherited)
